.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(125, 43, 202);
}

.contenedor1 {
    display: flex;
    flex-direction: row;
    background-color: azure;   
}

.contenedor11 {
    display: flex;
    flex-direction: column;
    background-color:crimson; 
    align-items: center;  
}

.contenedor2 {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
}

.contenedor3 {
    display: flex;
    flex-direction: row;
    background-color: chartreuse;
}
.contenedor3 div{
    width:100px  ;
}

section {
    background-color: aqua;
}


.caja {
    border-style: solid;
    border-color: black;

    text-align: center;
}
.img{
    align-items: center;
}

.c1{

}